@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>@ViewBag.result1 : is Sum of the numbers by func delegate </p>
<p>@ViewBag.result2  : is Sum of the numbers by action delegate</p>
<p>@ViewBag.result3  : is Lengthcheck by predicate delegate</p>
<p>@ViewBag.result4  : is Lengthcheck by func delegate</p>
